{% extends "base.html" %}

{% block footer %}

	<script src="/js/hideShowPassword.min.js"></script>

	<script>
		$(document).ready(function() {
			/*
			 * Validate the form
			 */
			$('#formSignup').validate({
				rules: {
					username: {
						required: true,
						remote: '/account/validate-username'
					},
					email: {
						required: true,
						email: true,
						remote: '/account/validate-email'
					},
					password: {
						required: true,
						minlength: 6,
						validPassword: true
					},
					/*password_confirmation: {
						equalTo: '#inputPassword'
					}*/
				},
				messages: {
					email: {
						remote: 'Email jest już zajęty'
					},
					username: {
						remote: 'Login jest już zajęty'
					}
				}
			});

			/*
			 * Show password toggle button
			 */
			$('#inputPassword').hideShowPassword({
				show: false,
				innerToggle: 'focus'
			});
		});
	</script>
{% endblock %}

{% block body %}
	<ul class="panel-login-registration">
		<a href="/"><li id="login-option" class="home-noactive-option">Logowanie</li></a>
		<li id="registration-option" class="home-active-option">Rejestracja</li>
	</ul> 

	{% if user.errors is not empty %}
		<p>Errors:</p>
		<ul>
			{% for error in user.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="panel-registration h-75">
		<form method="post" autocomplete="off" action="/signup/create" id="formSignup">
			<table class="text-center m-auto">
				<tr>
					<td class="w-25 py-2"><label for="inputUsername" class="home-control-label">Login</label></td>
					<td class="w-75 py-2"><input type="text" class="form-control" name="username" id="inputUsername" 
						placeholder="Podaj login" autofocus value="{{ user.username }}" required /></td>
				</tr>
				<!--<?php
						if(isset($_SESSION['err_login'])) {
							echo '<tr>'.'<td class="text-danger h6" colspan="2">'.$_SESSION['err_login'].'</td>'.'</tr>';
							unset($_SESSION['err_login']);
						}
				?>-->
				<tr>
					<td class="w-25 py-2"><label for="inputEmail" class="home-control-label">Email</label></td>
					<td class="w-75 py-2"><input type="email" class="form-control"  name="email" id="inputEmail" 
						placeholder="Podaj email" value="{{ user.email }}" required /></td>
				</tr>
				<!--<?php
						if(isset($_SESSION['err_email'])) {
							echo '<tr>'.'<td class="text-danger h6" colspan="2">'.$_SESSION['err_email'].'</td>'.'</tr>';
							unset($_SESSION['err_email']);
						}
				?>-->
				<tr>
					<td class="w-25 py-2"><label for="inputPassword" class="home-control-label">Hasło</label></td>
					<td class="w-75 py-2"><input type="password" class="form-control" name="password" id="inputPassword" 
						placeholder="Podaj hasło" required /></td>
				</tr>
				<!--<?php
						if(isset($_SESSION['err_pass'])) {
							echo '<tr>'.'<td class="text-danger h6" colspan="2">'.$_SESSION['err_pass'].'</td>'.'</tr>';
							unset($_SESSION['err_pass']);
						}
				?>-->
				<!--<tr>
					<td class="w-25 py-2"><label for="inputPasswordConfirmation" class="home-control-label"></label></td>
					<td class="w-75 py-2"><input type="password" class="form-control" name="password_confirmation" 
						id="inputPasswordConfirmation" placeholder="Repeat password" required /></td>
				</tr>-->

				
			</table>
			<div class="g-recaptcha" data-sitekey="6LdioxEeAAAAAFKE5wOCfd_-4aT9i6fFix5AiSnu"></div>
				<!--<?php
						if(isset($_SESSION['err_bot'])) {
							echo '<div class="text-danger h6" colspan="2">'.$_SESSION['err_bot'].'</div>';
							unset($_SESSION['err_bot']);
						}
				?>-->
			<div class="row-panel-home">
				<button type="submit">Zarejestruj się</button>
			</div>
		</form>
	</div>
{% endblock %}