{% extends "base.html" %}

{% block body %}
    {% if current_user %}
        Hello {{ current_user.username}},

        <a href="/application/index">Przejdz do aplikacji</a>

    {% else %}
        <ul class="panel-login-registration">
            <li id="login-option" class="home-active-option">Logowanie</li>
            <a href="/signup/new"><li id="registration-option" class="home-noactive-option">Rejestracja</li></a>
        </ul>
        <div class="panel-login h-75">
            <form method="post" action="/login/create" autocomplete="off">
                <table class="text-center m-auto">
                    <tr>
                        <td class="w-25 py-2"><label for="inputLogin" class="home-control-label">Login</label></td>
                        <td class="w-75 py-2"><input type="text" class="form-control" name="username" id="inputLogin" placeholder="Podaj login" autofocus value="{{ username }}"/></td>
                    </tr>
                    <tr>
                        <td class="w-25 py-2"><label for="inputPassword" class="home-control-label">Hasło</label></td>
                        <td class="w-75 py-2"><input type="password" class="form-control" name="password" id="inputPassword" placeholder="Podaj hasło" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="remember_me" id="remember_me" class="mx-2"
                            {% if remember_me %} checked="checked" {% endif %} /><label for="remember_me">Zapamiętaj mnie</label></td>
                    </tr>
                </table>
                <div class="row-panel-home">
                    <button type="submit">Zaloguj się</button>
                </div>
            </form>
            
            <!--<?php
                if(isset($_SESSION['error']))	echo $_SESSION['error'];
                unset($_SESSION['error']);
            ?>-->
        </div> <!--
        <div class="panel-registration h-75">
            <form method="post" autocomplete="off">
                <table class="text-center m-auto">
                    <tr>
                        <td class="w-25 py-2"><label for="login2" class="home-control-label">Login</label></td>
                        <td class="w-75 py-2"><input type="text" class="form-control" name="login" id="login2" placeholder="Podaj login" /></td>
                    </tr>
                    <tr>
                        <td class="w-25 py-2"><label for="email2" class="home-control-label">Email</label></td>
                        <td class="w-75 py-2"><input type="email" class="form-control" name="email" id="email2" placeholder="Podaj email" /></td>
                    </tr>
                    <tr>
                        <td class="w-25 py-2"><label for="password2" class="home-control-label">Hasło</label></td>
                        <td class="w-75 py-2"><input type="password" class="form-control" name="password" id="password2" placeholder="Podaj hasło" /></td>
                    </tr>
                    <tr>
                        <td class="w-25 py-2"><label for="password3" class="home-control-label"></label></td>
                        <td class="w-75 py-2"><input type="password" class="form-control" name="password" id="password3" placeholder="Powtórz hasło" /></td>
                    </tr>
                </table>
                <div class="row-panel-home">
                    <button type="submit">Zarejestruj się</button>
                </div>
            </form>
        </div> -->
    {% endif %}
{% endblock %}